@(title: String)(listAnuncio: List[Anuncio])(contador: Integer)
<!DOCTYPE html>
<html lang="pt-br">
   <head>
      <meta http-equiv="content-type" content="text/html; charset=UTF-8">
      <meta charset="utf-8">
      <title>@title</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="author" content="Wendley Paulo de França">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/multiple-select.css")">
      <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/highslide.css")">
      <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
      <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.ico")">
      <script src="@routes.Assets.at("javascripts/highslide-with-html.js")"></script>
      <script type="text/javascript">
         hs.graphicsDir = '@routes.Assets.at("img/graphics/")';
         hs.outlineType = 'rounded-white';
      </script>
      <style type="text/css">
         body {
         padding-top: 20px;
         padding-bottom: 40px;
         }
         /* Custom container */
         .container-narrow {
         margin: 0 auto;
         max-width: 750px;
         }
         .container-narrow > hr {
         margin: 30px 0;
         }
         /* Main marketing message and sign up button */
         .jumbotron {
         margin: 60px 0;
         text-align: center;
         }
         .jumbotron h1 {
         font-size: 72px;
         line-height: 1;
         }
         .jumbotron .btn {
         font-size: 21px;
         padding: 14px 24px;
         }
         /* Supporting marketing content */
         .marketing {
         margin: 30px 0;
         }
         #navlist li{
         display: inline;
         list-style-type: none;
         padding-right: 5px;
         }
      </style>
   </head>
   <body>
      <div class="container-narrow">
         <br/>
         <div class="masthead">
            <div class="row-fluid">
               <div class="span7">
                  <h2><b>&#9835;</b> Classified Musical</h2>
               </div>
               <div class="span4 offset1">
                  <br>
                  <a href="@routes.Application.getListasCadastrar()" onclick="return  hs.htmlExpand(this, { 
                     objectType: 'iframe', width: 1310, height:700, 
                     creditsPosition: 'bottom left', headingText: 'Cadastrar Anuncio', 
                     wrapperClassName: 'titlebar' } )" class="btn btn-success"><i class="icon-plus icon-white"></i> Novo Anuncio</a>
               </div>
            </div>
         </div>
         <hr>
         <div class="well">
            <br/>
            <div class="row-fluid">
               <form class="form-grup"  action="@routes.Application.pesquisarAnuncio()" method="post">
                  <div class="span10 offset2">
                     <div class="input-append">
                        <input class="span9" name="valuePesquisa" id="appendedInputButton" type="text" placeholder="Ex: pianista, violinista, cantor">
                        <button class="btn" type="submit"><i class="icon-search"></i></button>
                        <br>
                        <br>
                     </div>
                  </div>
                  <div class="span12">
                     <label class="radio inline">
                     	<input type="radio"  name="pesquisa" value="PalavraChave">Palavra-Chave
                     </label>
                     <label class="radio inline">
                     	<input type="radio" name="pesquisa" value="Instrumento">Instrumento
                     </label>
                     <label class="radio inline">
                     	<input type="radio" name="pesquisa" value="Estilo">Estilo Preferido
                     </label>
                     <label class="radio inline">
                     	<input type="radio"  name="pesquisa" value="Em Banda">Formar Banda
                     </label>
                     <label class="radio inline">
                     	<input type="radio"  name="pesquisa" value="Ocasionalmente">Tocar Ocasionalmente 
                     </label>
                  </div>
               </form>
            </div>
         </div>
         <hr>
			<div class="span8 offset2">
				<h4 class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;  Anuncios Resolvidos: @contador</h4>
			</div>
			<br>
         <div class="row-fluid marketing">
            <div class="col-sm-6">
               @for(anuncio <- listAnuncio.reverse){	
               <div class="row">
                  <div class="col-xs-12">
                     <h2 class="text-info">@anuncio.getTitulo()</h2>
                     <p class="muted">@anuncio.getDescricao()</p>
                     <p class="lead"><a href="@routes.Application.detalhesAnuncio(anuncio.getId())" class="btn btn-default"><i class="icon-plus"></i> Leia Mais</a></p>
                     <ul id="navlist">
                     <li class="offset10"><a href="#">@anuncio.getData()</a></li>
                  </div>
               </div>
               <hr>
               }
            </div>
         </div>
         <br>
         <hr>
         <div class="footer">
            <p>© Wendley Paulo 2015</p>
         </div>
      </div>
      <!-- /container -->
      <!-- Le javascript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-alert.js")"></script>
   </body>
</html>
