@(title: String)(content: Html)
<!DOCTYPE html>
<html lang="pt-br">
    <head>
    	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
      	<meta charset="utf-8">
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
      	<meta name="description" content="">
      	<meta name="author" content="Wendley Paulo de França">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-responsive.css")">
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
      	<!--[if lt IE 9]>
      	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      	<![endif]-->
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("img/favicon.ico")">
         <style type="text/css">
	         body {
	         padding-top: 20px;
	         padding-bottom: 40px;
	         }
	         /* Custom container */
	         .container-narrow {
	         margin: 0 auto;
	         max-width: 750px;
	         }
	         .container-narrow > hr {
	         margin: 30px 0;
	         }
	         /* Main marketing message and sign up button */
	         .jumbotron {
	         margin: 60px 0;
	         text-align: center;
	         }
	         .jumbotron h1 {
	         font-size: 72px;
	         line-height: 1;
	         }
	         .jumbotron .btn {
	         font-size: 21px;
	         padding: 14px 24px;
	         }
	         /* Supporting marketing content */
	         .marketing {
	         margin: 30px 0;
	         }
      </style>
    </head>
    <body>
        <div class="container-narrow">
         <br/>
         <div class="masthead">
            <div class="row-fluid">
               <div class="span7">
                  <h2><b>&#9835;</b> Classified Musical</h2>
               </div>
               <div class="span4 offset1">
                  <br><a href="#myModal" class="btn btn-success" role="button" data-toggle="modal"><i class="icon-plus icon-white"></i> Novo Anuncio</a>
               </div>
            </div>
         </div>
         <hr>
         <div class="well">
	         <br/>
	         <div class="row-fluid">
	            <div class="span10 offset2">
	               <form class="form-grup">
	                  <div class="input-append">
	                     <input class="span7" id="appendedInputButton" type="text" placeholder="Ex: pianista, violinista, cantor">
	                     <button class="btn" type="button"><i class="icon-search"></i> Pesquisar</button>
	                     <br>
	                     <br>
	                  </div>
	                  <label class="checkbox inline">
	                  <input type="checkbox" id="inlineCheckbox1" value="option1"> Por palavra-chave
	                  </label>
	                  <label class="checkbox inline">
	                  <input type="checkbox" id="inlineCheckbox2" value="option2"> Por instrumento
	                  </label>
	                  <label class="checkbox inline">
	                  <input type="checkbox" id="inlineCheckbox3" value="option3"> Por estilo preferido
	                  </label>
	               </form>
	            </div>
	         </div>
         </div>
         <!-- Modal -->
         <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               <h3 id="myModalLabel">Cadastrar Anuncio</h3>
            </div>
            <div class="modal-body">
               <form class="form-horizontal">
                  <div class="control-group">
                     <label class="control-label" for="inputEmail">Email</label>
                     <div class="controls">
                        <input type="text" id="inputEmail" placeholder="Email">
                     </div>
                  </div>
                  <div class="control-group">
                     <label class="control-label" for="inputPassword">Senha</label>
                     <div class="controls">
                        <input type="password" id="inputPassword" placeholder="Senha">
                     </div>
                  </div>
                  <div class="control-group">
                     <div class="controls">
                        <label class="checkbox">
                        <input type="checkbox"> Lembre-se de mim
                        </label>
                        <button type="submit" class="btn">Entrar</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
         <div class="row-fluid marketing">
            <div class="span12">
                     <table class="table  table-hover">
                     <tr>
                        <td><a href="">Titulo</a>
                        <span class="pull-right">25/05/2015</span>
                        <p> This product was great in terms of quality. I woul…</p></td>
                     </tr>
                     <tr>
                        <td><a href="">Titulo</a>
                        <span class="pull-right">25/05/2015</span>
                        <p> This product was great in terms of quality. I woul…</p></td>
                     </tr>
                     <tr>
                        <td><a href="">Titulo</a>
                        <span class="pull-right">25/05/2015</span>
                        <p> This product was great in terms of quality. I woul…</p></td>
                     </tr>
                  </table>
               </div>
            </div>
         <br>
         <hr>
         <div class="footer">
            <p>© Wendley Paulo 2015</p>
         </div>
      </div>
      <!-- /container -->
      <!-- Le javascript
         ================================================== -->
      <!-- Placed at the end of the document so the pages load faster -->
      <script src="@routes.Assets.at("javascripts/jquery.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-transition.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-alert.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-modal.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-dropdown.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-scrollspy.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-tab.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-tooltip.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-popover.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-button.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-collapse.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-carousel.js")"></script>
      <script src="@routes.Assets.at("javascripts/bootstrap-typeahead.js")"></script>
    </body>
</html>
